{% extends "base_portfolio.html" %}
{% load static %}
    {% block titre %}
        <h3>Ce dont je suis capable actuellement</h3>
    {% endblock %}
    {% block contenu %}
        <table class="table">
            <tr>
                <td class="w-50 p-3">
                    <p>Python / Django</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info text-light" style="width: 60%;">60%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>Java</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 70%;">70%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>C#</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 70%;">70%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>ASP Net</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 50%;">50%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>JSP/JSF</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 45%;">45%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>Hibernet JPA</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 60%;">60%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>Spring Core</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 40%;">40%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>Spring Boot</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 50%;">50%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>HTML</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 60%;">60%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>CSS</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 60%;">60%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>XML</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 70%;">70%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>XLST</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 50%;">50%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>DTD</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 40%;">40%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>XST</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 40%;">40%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>Git</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 45%;">45%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>SCRUM</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 40%;">40%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>Git</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 45%;">45%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>SCRUM</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 40%;">40%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>REST</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 45%;">45%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>Javascript</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 55%;">55%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>Photoshop</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 60%;">60%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>Illustrator</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 60%;">60%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>Figma</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 45%;">45%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>Flash/Animate</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 40%;">40%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>Blender</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 50%;">50%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>Premiere Pro</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 30%;">30%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>Routage</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 50%;">50%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>Network Adress Translation(NAT)</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 50%;">50%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>Subnetting</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 70%;">70%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>Access List</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 50%;">50%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>IPv4</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 70%;">70%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>IPv6</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 50%;">50%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>Malagasy</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 80%;">80%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>Français</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 50%;">50%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="w-50 p-3">
                    <p>Anglais</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 30%;">30%</div>
                    </div>
                </td>
                <td class="w-50 p-3">
                    <p>Gestion de projet</p>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info" style="width: 40%;">40%</div>
                    </div>
                </td>
            </tr>
            
        </table>
    {% endblock %}