{% extends "base_portfolio.html" %}
{% load static %}
    {% block titre %}
        <h3>Mes expériences et réalisations</h3>
    {% endblock %}
    {% block contenu %}
        <table class="table">
            <thead>
                <tr>
                    <th colspan="3 text-center"><h4>Expériences professionelles</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        2023-2024
                    </td>
                    <td>
                        Inclusiv Academy
                    </td>
                    <td>
                        Stage Concepteur Développeur d’Applications Numériques
                    </td>
                </tr>
                <tr>
                    <td>
                        2019-2023
                    </td>
                    <td>
                        Institut des Arts et des Technologies Avançés(InATA)
                    </td>
                    <td>
                        Diplôme de Licence en Système et Réseaux Informatiques
                    </td>
                </tr>
                <tr>
                    <td>
                        2022
                    </td>
                    <td>
                        UI Formation
                    </td>
                    <td>
                        Certificat de fin de Formation en Maintenance Informatique<br>
                        Certificat de fin de Formation en réseau Informatique
                    </td>
                </tr>
                <tr>
                    <td>
                        2022
                    </td>
                    <td>
                        Caisse Nationale de Prévoyance Sociale (CNaPS)
                    </td>
                    <td>
                        Stage Administrateur réseau
                    </td>
                </tr>
                <tr>
                    <td>
                        2021
                    </td>
                    <td>
                        TrustyLabs Antanimena
                    </td>
                    <td>
                        Stage Opérateur de traitement d'images
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="3 text-center"><h4>Réalisations</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Inclusiv Academy
                    </td>
                    <td>
                        2023
                    </td>
                    <td>
                        Développement d'une application permettant de mettre en relation des vendeurs de mode éthique et responsable
                         et leur clients.<br>
                        Back-end: C#; SGBDR: PostgreSQL; Front-End: WPF-MVVM
                    </td>
                </tr>
                <tr>
                    <td rowspan="3 text-center">
                        Institut des Arts et des Technologies Avançés(InATA)
                    </td>
                    <td>
                        2023
                    </td>
                    <td>
                        Réalisation d'un modèle de voiture en 3D. Il a été ensuite utilisé pour réaliser un film d'animation en 3D.<br>
                        Logiciels utilisés: Blender; Adobe Premiere
                    </td>
                </tr>
                <tr>
                    <td>
                        2022
                    </td>
                    <td>
                        Réalisation d'un film d'animation 2D.<br>
                        Logiciels utilisés: Adobe Illustrator; Adobe Flash/Animate; Adobe Premiere
                    </td>
                </tr>
                <tr>
                    <td>
                        2022
                    </td>
                    <td>
                        Réalisation d'un modèle de vitrail. Ce modèle a été ensuite placé dans un espace de destination à l'aide 
                        de technique de retouche d'images<br>
                        Logiciels utilisés: Adobe Illustrator; Adobe Photoshop.
                    </td>
                </tr>
            </tbody>
        </table>
    {% endblock %}