{% extends "base_portfolio.html" %}
{% load static %}
    {% block titre %}
        <h3>Ce que j'aime faire</h3>
    {% endblock %}
    {% block contenu %}
    <table class="table">
        <thead>
            <tr>
                <th colspan="3" class=" text-center"><h4>Jouer aux échecs</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="" alt="plateau d'échecs" />
                </td>
                <td>
                    <img src="" alt="lichess1" />
                </td>
                <td>
                    <img src="" alt="lichess2" />
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th colspan="3" class="  text-center"><h4>Jouer à des jeux vidéos</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Dark Souls I
                </td>
                <td>
                    Dark Souls II
                </td>
                <td>
                    Dark Souls III
                </td>
            </tr>
            <tr>
                <td>
                    Injustice 2
                </td>
                <td>
                    Tekken 7
                </td>
                <td>
                    Fifa 19
                </td>
            </tr>
            <tr>
                <td>
                    Sekiro
                </td>
                <td>
                    Call Of Duty Modern Warfare II-III
                </td>
                <td>
                    Call Of Duty Black Ops I-II
                </td>
            </tr>
            <tr>
                <td>
                    Metal Gear Solid 3 Snake Eater
                </td>
                <td>
                    Metal Gear Solid V Ground-Zero
                </td>
                <td>
                    Metal Gear Solid V Phantom Pain
                </td>
            </tr>
            <tr>
                <td>
                    Splinter Cell Double Agent
                </td>
                <td>
                    Splinter Cell Conviction
                </td>
                <td>
                    Splinter Cell Blacklist
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th colspan="3" class="text-center"><h4>Lire des livres</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    L'oiseau des ténèbres - Michael Connelly
                </td>
                <td>
                    The night fire - Michael Connelly
                </td>
                <td>
                    Volte-face - Michael Connelly
                </td>
            </tr>
            <tr>
                <td>
                    Alan Turing - David Leavit
                </td>
                <td>
                    Dune (Les 6 Tomes)
                </td>
                <td>
                    Le tableau du maître flamand
                </td>
            </tr>
            <tr>
                <td>
                    L'art de rater sa vie
                </td>
                <td>
                    Le discours de la méthode - Descartes
                </td>
                <td>
                    Fort comme la mort
                </td>
            </tr>
        </tbody>
    </table>
    {% endblock %}